<!DOCTYPE html>
<html lang="us" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Badlands</title>
<link type="text/css" href="resources/css/main.css" rel="stylesheet" />
</head>
<body>
<h1>Add User</h1>
<h3 th:inline="text">Current User: [[${#httpServletRequest.remoteUser}]]</h3>
<div>
<!-- Implicit CSRF -->
<form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
	<label for="username">Username:</label>

	<input type="text" th:field="*{username}" id="username" required placeholder="Username">
	<br>
	<label for="password">Password:</label>
	<input type="password" th:field="*{password}" id="password" required placeholder="Password">
	<br>
	<label for="confirm">Confirm:</label>
	<input type="password" name="confirmPass" id="confirm" placeholder="Confirm Password">
	<input type="hidden" th:field="*{enabled}" id="enabled" required value=true>
	<br>
	<label for="authority">Authority:</label>
	    <select class="form-control" id="authority" name="authority">
        <option th:each="s : ${authorities}"
                th:value="${s}"
                th:text="${s}"/>
    </select>
    <br><br>
	<input type="submit" value="Submit" id="btnSubmit">
	<!-- Explicit CSRF:
  	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  		-->
</form>
</div>
<div>
<br>
</div>
<a th:href="@{/home}">Home</a> | <a th:href="@{/logout}">Logout</a>
</body>
</html>