<!DOCTYPE html>
<html lang="us" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Badlands</title>
	<link type="text/css" href="resources/css/float.css" rel="stylesheet" />
</head>
<body>
<div id="float1">
<h1>An Example of a Simple Float</h1>
<blockquote>"The mass of men live lives of quiet desperation and so it is written." - Henry David Thoreau</blockquote>
<p>Let you word go out that a new generation of people will lead this world into a new 
direction and it will be a new Golden Era for civilization. this is not new, but an old concept 
whose time has come. Let you word go out that a new generation of people will lead this world into a new 
direction and it will be a new Golden Era for civilization. this is not new, but an old concept 
whose time has come.</p>
<p>Hello to all my friends.</p>
</div>

<div id="float2">

<div>
	<p class="col1">Many words. Many words. Many words. Many words. Many words. Many words. Many words. Many words. 
	Many words. Many words. Many words. Many words. Many words. Many words. Many words. Many words. </p>
	<p class="col2">Many words. Many words. Many words. Many words. Many words. Many words. Many words. Many words. 
	Many words. Many words. Many words. Many words. Many words. Many words. Many words. Many words. 
	Many words. Many words. Many words. Many words. Many words. Many words. Many words. Many words. </p>
	<p class="col3">Many words. Many words. Many words. Many words. Many words. Many words. Many words. Many words. </p>
</div>

<div class="clear"></div>

<div>
	<p class="col1">Many words. Many words. Many words. Many words. Many words. Many words. Many words. Many words. 
	Many words. Many words. Many words. Many words. Many words. Many words. Many words. Many words. </p>
	<p class="col2">Many words. Many words. Many words. Many words. Many words. Many words. Many words. Many words. </p>
	<p class="col3">Many words. Many words. Many words. Many words. Many words. Many words. Many words. Many words. 
	Many words. Many words. Many words. Many words. Many words. Many words. Many words. Many words. 
	Many words. Many words. Many words. Many words. Many words. Many words. Many words. Many words. </p>
</div>

<div class="clear"></div>
</div>

<div id="liquid">
	<div id="header">
		<h1 id="logo">My Liquid Display</h1>
		<div id="nav">
			<ul>
				<li class="inline"><a href="">Home</a></li>
				<li class="inline"><a href="">Products</a></li>
				<li class="inline"><a href="">Services</a></li>
				<li class="inline"><a href="">About</a></li>
				<li class="inline"><a href="">Contact</a></li>
			</ul>
		</div>
	</div>
	<div id="content">
		<div id="feature">
			<p>Feature</p>
		</div>
		<div class="article column1">
			<p>Column One</p>
		</div>
		<div class="article column2">
			<p>Column Two</p>
		</div>
		<div class="article column3">
			<p>Column Three
		</div>
	</div>
	<div id="footer">
		<p>&copy; Tom Smith 2017
	</div>
</div>

<a href="home">Home</a>
</body>
</html>








