<!DOCTYPE html>
<html lang="us" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Badlands</title>
	<link type="text/css" href="resources/css/html5.css" rel="stylesheet" />
</head>
<body>
<div id="main">
<header>
	<h1>
		Person Overview
	</h1>
	<nav>
		<ul>
			<li><a href="home">Home</a></li>
			<li><a href="">Users</a></li>
			<li><a href="">Addresses</a></li>
			<li><a href="">Database</a></li>
			<li><a href="">About</a></li>
			<li><a href="">Contact</a></li>
		</ul>
	</nav>
</header>
<aside>
	Aside
</aside>
<article>
	Article One
</article>
<article>
	Article Two
</article>
<footer>
&copy; Tom Smith 2017
</footer>
</div>
</body>
</html>
