<!DOCTYPE html>
<html lang="us" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Badlands</title>
<link type="text/css" href="resources/css/main.css" rel="stylesheet" />
</head>
<body>
<h1>List Users</h1>
<h3 th:inline="text">Current User: [[${#httpServletRequest.remoteUser}]]</h3>
<table>
	<tr>
		<th>Id</th>
		<th>Username</th>
		<th>Enabled</th>
	</tr>
	<tr th:each="user:${users}">
		<td th:text="${user.id}">Id001</td>
		<td th:text="${user.username}">Username</td>
		<td th:text="${user.enabled}">true</td>
	</tr>
</table>
<br>
<table>
	<tr>
		<th>Id</th>
		<th>Username</th>
		<th>Authorities</th>
	</tr>
	<tr th:each="authority:${authorities}">
		<td th:text="${authority.id}">Id001</td>
		<td th:text="${authority.username}">Username</td>
		<td th:text="${authority.authority}">true</td>
	</tr>
</table>
<a th:href="@{/home}">Home</a>
</body>
</html>