<!DOCTYPE html>
<html lang="us" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Badlands</title>
<link type="text/css" href="resources/css/login.css" rel="stylesheet" />
</head>
<body>
	<form method="post">
		<header>Login</header>
		<label for="username" class="help">Username</label> 
		<input type="text" id="username" name="username" placeholder="Username" autofocus>
		<br>
		<label for="password" class="help">Password</label> 
		<input type="password" id="password" name="password", plcaeholder="Password"> <br>
		<button>Login</button>
		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}" />
	</form>
</body>
</html>
