<!DOCTYPE html>
<html lang="us" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Badlands</title>
	<link type="text/css" href="resources/css/testjs.css" rel="stylesheet" />
</head>
<body>
<h1>Test JS</h1>
<p>Now we can begin.</p>
<script>document.write('<h2>Newly Added h2</h2>');</script>
<br>
<p>My paragraph and span: <span id="span123">[temp]</span></p>
<button id ='btn123'>Change Span</button>
<br>
<button id='btnrandom'>Random</button> <span id='spanrandom'></span> <span id='spanmsg'></span>
<div id='divGrid'></div>
<button id='btnNewGame'>New Game</button>

<script src="resources/js/testjs.js"></script>
</body>
</html>

